.video-item {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.video-item-selected {
  background-color: #fafafa; /* Light gray */
  border: 1px solid #ddd; /* Slightly darker gray for the border */
  padding: 10px; /* Some padding to give the content more room */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* A subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.video-item-selected:hover {
  transform: scale(1.02); /* Slightly enlarge the item when hovered */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); /* Increase the shadow when hovered */
}

.thumbnail-container {
  position: relative;
  width: 100%;
}

.thumbnail-container img {
  width: 100%;
  height: auto;
}

.thumbnail-container .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-container:hover .play-icon {
  opacity: 0.7;
}